div
{
   background:radial-gradient(cyan 0%, transparent 20%, salmon 40%);
   background-repeat:repeat;
   border-radius:200px;
   -webkit-border-radius:200px;
   -moz-border-radius:200px;
   color:red;
   height:400px;
   width:400px;
}